body{
    background-color: rgb(107, 169, 223);    

}

/* css hp : max-width : 600px*/
@media screen and (max-width: 600px){
    body{
        background-color: red;

    }
    
}

/*css tablet : max-width : 992px*/
@media screen and (min-width: 601px){
    body{
         background-color: rgb(15, 211, 18);
    }

    .col-md-50{
        width: 50%;
        float: left;
    }
    .col-md-100{
        width: 100%;
        
        
    }
    
}

/*css desktop : min-width : 993px*/
@media screen and (min-width: 993px){
    body{
         background-color: rgb(21, 42, 162);
         color : white;
    }
    /*Gunakan class selector*/
    .col-lg-25{
        width: 25%;
        float: left;
    }
    .col-lg-50{
        width: 50%;
        float: left;
    }
}